<%# Write your code here! %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Hi <%= params["user_name"] %>, nice to meet you!</p>
  </body>
</html>
